@media screen and (max-width: 768px) {
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  20px;
        z-index: 10;
    }
    header .nav ul{
        display: none;
    }
    header .sign{
        display: none;
    }
    header .close{
        display: block;
    }

    .togleMenu{
        transition: all .5s ease;
        display: block;
        width: 70%;
        background-color:#fff;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        padding: 80px 0px;
    }
    .togleMenu .closeTogle{
        position: absolute;
        right: 20px;
        top: 30px;
        z-index: 1000;
    }
    header .openTogle{
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
        z-index: 1000;
    }
    .closeTogleIcon{
        display: none;
    }
     .showTogleMenu{
        width: 0px;
        transition: 0.5s ease ;
        opacity: 0.8;
    }
    .togleMenu.featureMenu{
        position: absolute;
    }
    .togleMenu .togleMenuNav{
        position: relative;
        z-index: 200;
        margin-top: 10px;
    }
    .togleMenu .togleMenuNav #featureMenu2{
        position: relative;
        box-shadow: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        color: rgb(134, 134, 134);
        padding: 0 30px;
    }
    .togleMenu .togleMenuNav #companyMenu2{
        position: relative;
        box-shadow: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        color: rgb(134, 134, 134);
        padding: 0 30px;
        display: none;
    }
    .mobileCloseMenu{
        display: block !important;
        transition: all .5s ease;
    }
    .activeTogleMenu{
        color:#000 !important;
    }
    .togleMenu .togleMenuNav #featureMenu2 p, .togleMenu .togleMenuNav #companyMenu2 p{
        font-size: 14px;
        font-family: monospace;
    }
    .togleMenu .togleMenuNav #featureMenu2 p:hover, .togleMenu .togleMenuNav #featureMenu2 p:active{
        background-color:transparent;
        color:#000;
    }
    .togleMenu .togleMenuNav #companyMenu2 p:hover, .togleMenu .togleMenuNav #companyMenu2 p:active{
        background-color:transparent;
        color:#000;
    }
    .mobileClose{
        display: none;
    }

    .togleMenu .togleMenuNav ul li{
        list-style: none;
        display: block;
        margin: 15px 0px;
        z-index: 200;
    }
    .togleMenu .togleMenuNav ul li a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(112, 112, 112);
        padding: 5px 40px;
        width: 100%;
    }
    .togleMenu .togleMenuNav ul li a:hover{
        color:#000;
    }
    .togleMenu .togleMenuNav ul li a img{
        margin-left: 7px;
    }
    .togleMenu .togleMenuNav .togleMenuSign{
        display: grid;
        padding: 20px 40px;
    }
    .togleMenu .togleMenuNav .togleMenuSign button{
        background:none;
        padding: 10px 20px;
        border-radius: 10px;
        border:1px solid rgb(85, 85, 85);
        color: rgb(134, 134, 134);
        cursor: pointer;
    }
    .togleMenu .togleMenuNav .togleMenuSign button:hover{
        color:#000;
    }
    .togleMenu .togleMenuNav .togleMenuSign .login{
        border:none;
    }
    .togleMenu .togleMenuNav .togleMenuSign .register{
        margin: 10px 0px;
    }
     .togleMenuOver{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:rgba(0, 0, 0, 0.507)
    }
    main .mediaMax600{
        display: block;
    }
    main .mainCenter{
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    main .mainCenter .centerText{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 30px 20px ;
        text-align: center;
    }
    main .mainCenter .centerText h1{
        font-size: 36px;
    }
   
    main .mainCenter .mediaMax600 .mediaMax600Banner img{
        width: 100% !important;
    }
    main .centerBanner{
        display: none;
    }
    main .mainCenter .centerText button{
        margin-bottom: 70px;
    }
    main .mainCenter .centerText .partner{
        width: 100%;
        padding: 0px 10px;
    }
    main .mainCenter .centerText .partner img{
        width: 20%;
    }

}